In [141]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re
from collections import Counter

In [142]:
df = pd.read_csv('igdata.csv', encoding='utf-8', encoding_errors='ignore', delimiter=",")
df.head()

,alt,caption,childPosts/0/alt,childPosts/0/caption,childPosts/0/commentsCount,childPosts/0/dimensionsHeight,childPosts/0/dimensionsWidth,childPosts/0/displayUrl,childPosts/0/firstComment,childPosts/0/id,...,taggedUsers/18/profile_pic_url,taggedUsers/18/username,taggedUsers/19/full_name,taggedUsers/19/id,taggedUsers/19/is_verified,taggedUsers/19/profile_pic_url,taggedUsers/19/username,timestamp,type,url
0,Photo by SMP PEMBINAAN PANGKALPINANG on August...,Marching Band SMP Pembinaan Pangkalpinang ikut...,Photo by SMP PEMBINAAN PANGKALPINANG on August...,NaN,0.0,766.0,1080.0,https://scontent-lhr8-1.cdninstagram.com/v/t51...,NaN,3.444431e+18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-28T06:56:38.000Z,Sidecar,https://www.instagram.com/p/C_NE8Z2pzdF/
1,"Photo by vlrianadivnn on August 28, 2024. May ...","Hai..! Saya Valeriana Divin Aqualini , Yuk daf...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-28T07:02:53.000Z,Image,https://www.instagram.com/p/C_NFqOCSbrL/
2,Photo by Museum Rekor-Dunia Indonesia on Augus...,MURI kembali menghadirkan karya-karya terbaik ...,Photo by Museum Rekor-Dunia Indonesia on Augus...,NaN,0.0,1080.0,1080.0,https://scontent-lhr6-1.cdninstagram.com/v/t51...,NaN,3.444434e+18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-28T07:03:02.000Z,Sidecar,https://www.instagram.com/p/C_NFrXSSBwq/
3,"Photo by MA Nurul Jadid Paiton on August 28, 2...",Quotes KH. Najiburrahman Wahid saat Upacara Be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-28T07:00:39.000Z,Image,https://www.instagram.com/p/C_NFZ5NviM7/
4,"Photo by MAN 3 NGANJUK on August 27, 2024. May...",🎉 Selamat untuk Tim Paskibra Cakra Trisula! 🎉\...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-28T06:51:29.000Z,Image,https://www.instagram.com/p/C_NEWtsvRU9/

In [143]:
universities_df = pd.read_csv('UniList.csv', encoding='utf-8', encoding_errors='ignore')
universities_list = universities_df['Name'].str.strip().str.lower().tolist()

In [144]:
universities_list

['universitas indonesia',
 'universitas terbuka',
 'universitas gadjah mada',
 'universitas diponegoro',
 'universitas hasanuddin',
 'universitas sebelas maret',
 'universitas brawijaya',
 'universitas sam ratulangi',
 'universitas pattimura',
 'universitas udayana',
 'universitas musamus',
 'universitas mataram',
 'universitas cendrawasih',
 'universitas tanjungpura',
 'universitas jenderal soedirman',
 'universitas tadulako',
 'universitas negeri malang',
 'universitas airlangga',
 'universitas negeri yogyakarta',
 'universitas negeri semarang',
 'universitas negeri surabaya',
 'universitas negeri jakarta',
 'universitas negeri manado',
 'universitas negeri makassar',
 'universitas negeri ganesha',
 'universitas negeri khairun',
 'universitas trunojoyo madura',
 'universitas negeri gorontalo',
 'universitas sulawesi barat',
 'universitas sembilan belas november kolaka',
 'universitas pembangunan nasional veteran jakarta',
 'universitas pembangunan nasional veteran yogyakarta',
 'universitas pembangunan nasional veteran jawa timur',
 'universitas pertahanan indonesia',
 'universitas timor',
 'universitas nusa cendana',
 'universitas haluoleo',
 'universitas padjadjaran',
 'universitas pendidikan indonesia',
 'universitas sumatra utara',
 'universitas andalas',
 'universitas sriwijaya',
 'universitas syiah kuala',
 'universitas riau',
 'universitas jambi',
 'universitas palangkaraya',
 'universitas jember',
 'universitas lampung',
 'universitas bengkulu',
 'universitas negeri medan',
 'universitas negeri padang',
 'universitas sultang ageng tirtayasa',
 'universitas malikussaleh',
 'universitas bangka belitung',
 'universitas maritim raja ali haji',
 'universitas samudra',
 'universitas tidar',
 'universitas siliwangi',
 'universitas teuku umar',
 'universitas singaperbangsa karawang',
 'universitas lambung mangkurat',
 'universitas mulawarman',
 'universitas borneo tarakan',
 'institut teknologi bandung',
 'institut pertanian bogor',
 'institut teknologi sepuluh november',
 'institut seni indonesia padang panjang',
 'institut seni budaya indonesia bandung',
 'institut teknologi sumatera',
 'institut seni budaya indonesia aceh',
 'institut teknologi kalimantan',
 'institut seni indonesia yogyakarta',
 'institut seni indonesia denpasar',
 'institut seni indonesia surakarta',
 'institut seni budaya indonesia tanah papua',
 'institut teknologi bacharuddin jusuf habibie']

In [145]:
def extract_and_clean_universities(text):
    pattern = r'\bUniversitas\s[A-Z][a-zA-Z\s]*|University\s[A-Z][a-zA-Z\s]*\b'
    universities = re.findall(pattern, text)
    # Clean the names by stripping whitespace, newlines, and normalizing spaces
    universities = [uni.strip().replace('\n', ' ').replace('  ', ' ') for uni in universities]
    return universities

In [146]:
all_text = df['alt'].fillna('') + " " + df['caption'].fillna('')

In [147]:
all_text

0      Photo by SMP PEMBINAAN PANGKALPINANG on August...
1      Photo by vlrianadivnn on August 28, 2024. May ...
2      Photo by Museum Rekor-Dunia Indonesia on Augus...
3      Photo by MA Nurul Jadid Paiton on August 28, 2...
4      Photo by MAN 3 NGANJUK on August 27, 2024. May...
                             ...
959    Photo by Nusa Mandiri Jatiwaringin on August 2...
960    Photo shared by @ptrya.ngsh on August 20, 2024...
961    Photo by CEK PLAGIARISME TURNITIN on August 20...
962    Photo by Sekolah Menengah Kolese Kanisius Jaka...
963    Photo by Infoin Lomba on August 27, 2024. May ...
Length: 964, dtype: object

In [148]:
df['universities'] = all_text.apply(extract_and_clean_universities)
exploded_data = df.explode('universities').dropna(subset=['universities'])
exploded_data['universities'] = exploded_data['universities'].str.lower().str.strip()

In [149]:
exploded_data

,alt,caption,childPosts/0/alt,childPosts/0/caption,childPosts/0/commentsCount,childPosts/0/dimensionsHeight,childPosts/0/dimensionsWidth,childPosts/0/displayUrl,childPosts/0/firstComment,childPosts/0/id,...,taggedUsers/18/username,taggedUsers/19/full_name,taggedUsers/19/id,taggedUsers/19/is_verified,taggedUsers/19/profile_pic_url,taggedUsers/19/username,timestamp,type,url,universities
21,Photo shared by YES Institute Indonesia on Aug...,[Prestasi Kontingen YES]\nJuara 2 Airlangga In...,Photo shared by YES Institute Indonesia on Aug...,NaN,0.0,1080.0,1080.0,https://scontent-gru2-2.cdninstagram.com/v/t39...,NaN,3.444413e+18,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-28T06:21:47.000Z,Sidecar,https://www.instagram.com/p/C_NA9MQzyBl/,universitas airlangga
42,"Photo shared by Rayhan on August 28, 2024 tagg...",✨I'M READY TO BE PART OF MBAK MAS FAKULTAS TEK...,"Photo shared by Rayhan on August 28, 2024 tagg...",NaN,0.0,1080.0,1080.0,https://instagram.fagc3-1.fna.fbcdn.net/v/t51....,NaN,3.444433e+18,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-28T07:01:27.000Z,Sidecar,https://www.instagram.com/p/C_NFfvwJWqg/,universitas negeri surabaya
42,"Photo shared by Rayhan on August 28, 2024 tagg...",✨I'M READY TO BE PART OF MBAK MAS FAKULTAS TEK...,"Photo shared by Rayhan on August 28, 2024 tagg...",NaN,0.0,1080.0,1080.0,https://instagram.fagc3-1.fna.fbcdn.net/v/t51....,NaN,3.444433e+18,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-28T07:01:27.000Z,Sidecar,https://www.instagram.com/p/C_NFfvwJWqg/,universitas negeri surabaya
46,Photo by Fakultas Farmasi Universitas Hang Tua...,"Halo Calon Farmasis, Selamat datang mahasiswa ...",Photo by Fakultas Farmasi Universitas Hang Tua...,NaN,0.0,1080.0,1080.0,https://instagram.flhr2-3.fna.fbcdn.net/v/t51....,NaN,3.444430e+18,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-28T06:53:40.000Z,Sidecar,https://www.instagram.com/p/C_NEmvopCe7/,universitas hang tuah on august
47,"Photo by @cia_unupasuruan on August 27, 2024. ...",#alhamdulillah #masyaallahtabarakallah ✨\nSela...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-28T06:55:21.000Z,Image,https://www.instagram.com/p/C_NEzCaxlqH/,universitas nahdlatul ulama pasuruan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,"Photo by Farhad.A.M on August 27, 2024. May be...",[PKKMB DAY 5]\n\nHalo semuanya! Saya Farhad At...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-27T10:30:57.000Z,Image,https://www.instagram.com/p/C_K4rP8S58z/,universitas negeri surabaya
940,"Photo by cidd on August 27, 2024. May be a car...",I’m ready to join Geography Championship XII 🌏...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-27T10:05:41.000Z,Image,https://www.instagram.com/p/C_K1yRyhb6l/,universitas negeri semarang dengan tema
940,"Photo by cidd on August 27, 2024. May be a car...",I’m ready to join Geography Championship XII 🌏...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-27T10:05:41.000Z,Image,https://www.instagram.com/p/C_K1yRyhb6l/,universitas negeri semarang
958,"Photo by Nusa Mandiri on August 20, 2024. May ...",Masih dibuka Pendaftaran Program Transfer D3 k...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-20T11:00:31.000Z,Image,https://www.instagram.com/p/C-46fuCsFc9/,universitas nusa mandiri sampai tanggal
959,Photo by Nusa Mandiri Jatiwaringin on August 2...,Masih dibuka Pendaftaran Program Transfer D3 k...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-20T11:03:10.000Z,Image,https://www.instagram.com/p/C-46zIOPDnE/,universitas nusa mandiri sampai tanggal

In [150]:
exploded_data['universities'] = exploded_data['universities'].apply(lambda x: x if x in universities_list else None)

In [151]:
exploded_data['universities']

21           universitas airlangga
42     universitas negeri surabaya
42     universitas negeri surabaya
46                            None
47                            None
                  ...
939    universitas negeri surabaya
940                           None
940    universitas negeri semarang
958                           None
959                           None
Name: universities, Length: 339, dtype: object

In [152]:
filtered_data = exploded_data.dropna(subset=['universities'])

In [153]:
university_counts = filtered_data.groupby('universities').size().reset_index(name='count')
university_counts = university_counts.sort_values(by='count', ascending=False)

In [154]:
university_counts['universities'] = university_counts['universities'].str.title()

In [155]:
university_counts

                                  universities  count
5                    Universitas Negeri Malang     35
7                  Universitas Negeri Surabaya     20
0                        Universitas Airlangga     13
10                   Universitas Sebelas Maret      8
3                           Universitas Jember      3
4               Universitas Jenderal Soedirman      2
9                             Universitas Riau      2
13                       Universitas Sriwijaya      2
1                        Universitas Brawijaya      1
2                        Universitas Indonesia      1
6                  Universitas Negeri Semarang      1
8             Universitas Pendidikan Indonesia      1
11  Universitas Sembilan Belas November Kolaka      1
12         Universitas Singaperbangsa Karawang      1
14                         Universitas Udayana      1

In [156]:
total_count = university_counts['count'].sum()
print(f"Total count of university mentions: {total_count}")

Total count of university mentions: 92

In [157]:
word_count = all_text.str.lower().str.count(r'\buniversitas\b').sum()

print(f"Total occurrences of 'universitas': {word_count}")

Total occurrences of 'universitas': 534